@import '../../../index.scss';

.theme-switch {
   position: relative;
   width: 54px;
   height: 30px;
   background: var(--switcher-bg);
   border-radius: 190px;
   cursor: pointer;
   user-select: none;
}

.theme-switch::after {
   position: absolute;
   top: 5px;
   left: 6px;
   content: '';
   width: 20px;
   height: 20px;
   border-radius: 100%;
   background: var(--switcher-circle-bg);
   box-shadow: var(--switcher-shadow);
   cursor: pointer;
   transition: all 0.3s;
   user-select: none;
}

.active::after {
   transition: all 0.3s;
   transform: translateX(20px);
}